.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
TODO.md
astro.exe
include/terraform/.terraform/
include/terraform/terraform.tfstate
include/terraform/terraform.tfstate.backup
logs/
plugins/__pycache__/
plugins/example_dags/__pycache__/
venv
